@{
	ViewData["Title"] = "News page";
}

<div>
	<h1 class="display-4">News</h1>

	<a href="/admin/news/create" class="btn btn-primary">Создать новость</a>
	<br />
	<hr />
	<ul>
		@foreach (var item in Model)
		{
			<li>
				<span>@item.Title</span>
				<span>@item.Description</span>
				<span>@item.Date.ToString("yyyy.MM.dd HH:mm")</span>
				<span>@item.AuthorId</span>
				<span>@item.CreateDate.ToString("yyyy.MM.dd HH:mm")</span>
				<span>@item.IsActive</span>
			</li>
		}
	</ul>
</div>
