@page
@model NewsModel
@{
	ViewData["Title"] = "News Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
	<div class="col-12">
		<div class="page-title-box">
			<h4 class="page-title">News</h4>

			<ul>
				@foreach (var item in Model.News)
				{
					<li>
						<span>@item.Title</span>
						<span>@item.Description</span>
						<span>@item.Date.ToString("yyyy.MM.dd HH:mm")</span>
						<span>@item.AuthorId</span>
						<span>@item.CreateDate.ToString("yyyy.MM.dd HH:mm")</span>
						<span>@item.IsActive</span>
					</li>
				}
			</ul>
		</div>
	</div>
</div>